</div>
<footer>
    <h4 class="footer-title">Seguinos en nuestras redes</h4>
    <div class="social-icons">
        <div class="social-icon">
            <img src="/static/img/instagram.png" alt="Logo de Instagram">
            <h5>Instagram</h5>
        </div>
        <div class="social-icon">
            <img src="/static/img/facebook.png" alt="Logo de Facebook">
            <h5>Facebook</h5>
        </div>
        <div class="social-icon">
            <img src="/static/img/linkedin.png" alt="Logo de LinkedIn">
            <h5>LinkedIn</h5>
        </div>
    </div>

    <h6 class="footer-info">OnlinEnglish 2023 Derechos Reservados</h6>
</footer>

<!-- ESTILO CSS DE HEADER Y FOOTER -->

<style>
    /* Estilo general de toda la página */
    * {
        font-family: 'Lato', sans-serif;
    }

    /* Estilo para el cuerpo de la página */
    body {
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    /* Estilo para la barra de navegación */
    nav {
        position: sticky;
        top: 0px;
        background-color: #e5b532;
        z-index: 1000;
        text-align: center;
    }

    nav a {
        color: #4E598C;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 18px;
        transition: font-size 0.2s, transform 0.2s;
    }

    /* Estilo para la tabla de empleados */
    .table th,
    .table td {
        text-align: center;
    }

    /* Estilo para el botón de ingresar nuevo empleado */
    .btn-success {
        margin-bottom: 20px;
    }

    /* Estilo para la imagen de la foto del empleado */
    .img-thumbnail {
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    /* Estilo para el contenedor principal */
    .container {
        margin-top: 20px;
    }

    /* Estilo para el título de la página y logo */
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: #F9C784;
    }

    /* Estilo para el botón de editar y eliminar */
    .btn-warning,
    .btn-danger {
        margin-right: 5px;
    }

    /* Estilo para el fondo del encabezado de la página */
    header {
        position: sticky;
        background-color: #4E598C;
        color: #F9C784;
        padding: 20px;
        display: flex;
        align-items: center;
        z-index: 1000;
    }

    /* Estilo para el título del encabezado */
    .header-title {
        font-family: "PT Serif", serif;
        font-size: 40px;
        font-weight: bold;
        margin-top: 0;
        color: #F9C784;
        padding: 20px 0;
        border-radius: 30px;
        box-shadow: 0px 4px 8px rgba(85, 52, 3, 0.616);
        transition: transform 0.2s ease-in-out;
    }

    .header-title:hover {
        transform: scale(1.1);
    }

    /* Estilo para el footer */
    footer {
        background-color: #4E598C;
        color: #F9C784;
        padding: 20px;
        text-align: center;
    }

    .footer-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .social-icon {
        margin: 0 10px;
    }

    .social-icon img {
        width: 40px;
        height: 40px;
    }

    .social-icon h5 {
        margin-top: 5px;
        font-size: 14px;
    }

    .footer-info {
        font-size: 12px;
    }


</style>

</body>

</html>